<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>@!section('title', 'Minha App')</title>
  @vite('resources/js/app.ts')
</head>
<body>
  <main>
    @!section('content')
  </main>
</body>
</html>
